#Options +FollowSymlinks
#RewriteEngine On
#RewriteBase /writeRules/
#RewriteRule ^([a-zA-Z_\-\s]*)$ checkReWrite.php?name=$1 [QSA,L]
#RewriteRule ^index.html$ index.php


<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /writerules/

RewriteRule ^([a-zA-Z_\-\s]*)$ checkReWrite.php?name=$1 [QSA,L]
#RewriteRule ^index.html$ index.php

</IfModule>